.container {
  background-color: white;
}

.jumbotron {
  color: white;
  background-color: black;
}

.container .jumbotron {
  border-radius: 6px;
}

.btn-primary {
  font-size: 21px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  background-color: #0e2f7d;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 200;
}

.heading {
  font-size: 18px;
  font-weight: 200;
}

a {
  font-size: 18px;
  color: white;
}

td {
  font-size: 18px;
}

#task {
  font-size: 18px;
}
